# Semana 07
Alumno Edwin Manuel Paucar Nonajulca

Temas:
    1. Números
    2. Variables
    3. Manejo de Cadenas
    4. Ingreso de datos por el teclado
    5. Operadores

2. Variables

In [1]:
#Siempre deebe iniciar con una letra o un guión abajo. (Nunca con un número u otro símbolo)

In [3]:
edad = 41

In [4]:
edad

41

In [5]:
nombre = "Manuel"

In [6]:
nombre

'Manuel'

In [15]:
apellido = "Paucar Nonajulca"

In [16]:
apellido

'Paucar Nonajulca'

In [17]:
nombreCompleto = nombre + apellido

In [18]:
nombreCompleto

'ManuelPaucar Nonajulca'

In [19]:
nombreCompleto = nombre + " " + apellido

In [20]:
nombreCompleto

'Manuel Paucar Nonajulca'

In [21]:
#Para saber el tipo de variable utilizamos la funcion type()
#Por ejemplo:

In [22]:
numero = 50
type(numero)

int

In [23]:
type(nombre)

str

In [24]:
talla = 1.57
talla

1.57

In [25]:
#Para convertir un numero en cadena utilizamos str()

In [26]:
numero = 100
cadena = str(numero)
cadena

'100'

In [27]:
type(cadena)

str

In [29]:
#Para convertir una cadena en un entero utilizamos int()
cadena2 = "50"
numero2 = int(cadena2)
numero2

50

In [30]:
#Para convertir una cadena a un decimal utilizamos float()
cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0

In [31]:
type(numero2)

float