# Semana 07
Alumno Edwin Manuel Paucar Nonajulca

Temas:
    1. NÃºmeros
    2. Variables
    3. Manejo de Cadenas
    4. Ingreso de datos por el teclado
    5. Operadores

5. Operadores

In [1]:
#5.1 operadores aritmeticos
#Se tiene : +, -, *, /, **, //

In [2]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
print(suma)

13

In [3]:
resta = numero1 - numero2
print(resta)

7

In [4]:
multiplicacion = numero1 * numero2
print(multiplicacion)

30

In [5]:
division = numero1 / numero2
print(division)

3.3333333333333335

In [6]:
residuo = numero1 % numero2
print(residuo)

1

In [8]:
cociente = numero1 // numero2
print(cociente)

3

In [10]:
potencia = numero1 ** numero2
print(potencia)

1000

In [11]:
#5.2 operadores de asignacion
#Se tiene: =, +=, -=, *=, /=, **=
numero = 5
numero = numero + 3
print(numero)

8

In [12]:
#La operacion anterior tambien se puede expresar de la siguiente manera:
numero = 5
numero += 3
print(numero)

8

In [13]:
#Lo mismo se puede hacer con todos los casos, incluso la potencia
#Veamos otro ejemplo
numero = 5
numero = numero ** 3
print(numero)

125

In [14]:
#La operacion anterior tambien se puede expresar de la siguiente manera:
numero = 5
numero **= 3
print(numero)

125

In [15]:
#Operadores de comparacion
#se tiene: ==, !=, <, >, <=, >=

In [16]:
#ejemplo de igualdad ==
numero1 = 5
numero = 2
numero1 == numero2

False

In [17]:
#con las cadenas funciona igual
nombre1 = "Juan"
nombre2 = "Juan"
nombre1 == nombre2

True

In [19]:
#5.4 operadores logicos
#se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [20]:
numero1 < numero2

True

In [21]:
#El not invierte el resultado
not(numero1 < numero2)

False

In [22]:
numero < numero2 and numero3 < numero4

True

In [23]:
#tambien puedes utilizar parentesis para ordenar tu operacion
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [24]:
#5.5 operadores de pertenencia
#se tiene: in, not in

In [26]:
#miremos un ejemplo
aula = ["Edwin", "Manuel", "Paucar"]
alumno1 = "Luis"
alumno2 = "Manuel"
#Luis esta en el aula?
alumno1 in aula

False

In [27]:
#Manuel esta en el aula?
alumno2 in aula

True

In [28]:
#Luis no esta en el aula?
alumno1 not in aula

True

In [29]:
#operadores de identidad
#se tiene, is, is not

In [30]:
aula1 = ["Edwin", "Manuel", "Paucar"]
aula2 = ["Edwin", "Manuel", "Paucar"]
#a continuacion vamos a indicar que aula3 va a compartir el mismo objeto que el aula 1
aula3 = aula1

In [31]:
#aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [33]:
##aula3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [36]:
aula2 comparte el mismo objeto con aula1?
aula2 is aula1

False

In [37]:
aula1.append("Diego")

In [38]:
#al imprimir los elementos de l alista aula1 se observa
print(aula1)

['Edwin', 'Manuel', 'Paucar', 'Diego']

In [39]:
#al imprimir los elementos de la lista aula3 e observa
print(aula3)

['Edwin', 'Manuel', 'Paucar', 'Diego']

In [40]:
#al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Edwin', 'Manuel', 'Paucar']